@import "../../assets/consts.scss";

.section {
  margin-top: $page-margin-top;
  margin-bottom: $page-margin-top;
}

.testimonial {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-carousel {
  height: 700px;
}

.my-carousel .controls-top, .my-carousel .carousel-indicators {
  direction: ltr;
}

.carousel-multi-item .carousel-inner .carousel-item.active {
  position: absolute !important;
}

.card-avatar {
  //max-width: unset !important;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
}
